* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.input {
  width: 700px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 300%;
}

.flag {
  width: 500px;
}

.countrie {
  text-align: center;
}

.information {
  display: flex;
  justify-content: center;
}

.paragraph {
  font-weight: 700;
  font-size: 150%;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subparagraph {
  font-weight: 500;
  font-size: 150%;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list-countries {
  margin-left: 750px;
}
